In [1]:
import pandas as pd

In [2]:
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([100,200,300,400,500])

In [3]:
series3 = series1 + series2
series3

0    101
1    202
2    303
3    404
4    505
dtype: int64

In [4]:
data1 = {'Speed': [100, 103, 105], 'Temp': [34, 23, 42]}
frame1 = pd.DataFrame(data1)
frame1

   Speed  Temp
0    100    34
1    103    23
2    105    42

In [5]:
data2 = {'Speed': [102, 123, 135], 'Temp': [14, 43, 22], 'Huminity': [45, 23, 14]}
frame2 = pd.DataFrame(data2)
frame2

   Speed  Temp  Huminity
0    102    14        45
1    123    43        23
2    135    22        14

In [6]:
frame3 = frame1 + frame2
frame3

   Huminity  Speed  Temp
0       NaN    202    48
1       NaN    226    66
2       NaN    240    64

In [7]:
series2 = pd.Series([100, 200, 300], index=['Speed', 'Temp', 'Humidity'])
series2

Speed       100
Temp        200
Humidity    300
dtype: int64

In [8]:
frame2 - series2

   Humidity  Huminity  Speed   Temp
0       NaN       NaN    2.0 -186.0
1       NaN       NaN   23.0 -157.0
2       NaN       NaN   35.0 -178.0

In [10]:
ser = pd.Series([3,7,1,4,7,2], index=[2,3,4,1,5,3])
ser

2    3
3    7
4    1
1    4
5    7
3    2
dtype: int64

In [11]:
ser.sort_index()

1    4
2    3
3    7
3    2
4    1
5    7
dtype: int64

In [12]:
frame2

   Speed  Temp  Huminity
0    102    14        45
1    123    43        23
2    135    22        14

In [13]:
frame2 = frame2.reindex([2,1,0])
frame2

   Speed  Temp  Huminity
2    135    22        14
1    123    43        23
0    102    14        45

In [14]:
frame2.sort_index()

   Speed  Temp  Huminity
0    102    14        45
1    123    43        23
2    135    22        14

In [16]:
frame2 = frame2.reindex(columns=['Speed', 'Huminity', 'Temp'])
frame2

   Speed  Huminity  Temp
2    135        14    22
1    123        23    43
0    102        45    14

In [17]:
series2.sort_values()

Speed       100
Temp        200
Humidity    300
dtype: int64

In [19]:
frame2.sort_values(by='Temp')

   Speed  Huminity  Temp
0    102        45    14
2    135        14    22
1    123        23    43

In [20]:
series = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
series

a    100
b    200
c    300
dtype: int64

In [21]:
frame2.sum()

Speed       360
Huminity     82
Temp         79
dtype: int64

In [22]:
frame2

   Speed  Huminity  Temp
2    135        14    22
1    123        23    43
0    102        45    14

In [23]:
frame2.sum(axis=1)

2    171
1    189
0    161
dtype: int64

In [24]:
frame2.idxmax()

Speed       2
Huminity    0
Temp        1
dtype: int64

In [25]:
frame2.idxmin()

Speed       0
Huminity    2
Temp        0
dtype: int64

In [26]:
import numpy as np

In [28]:
ser = pd.Series([1,2,3,4,np.nan], index=['a', 'b', 'c', 'd', 'e'])
ser

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [29]:
ser.dropna()

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [30]:
ser = ser.dropna()
ser

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [31]:
ser = pd.Series([1,2,3,4,np.nan], index=['a', 'b', 'c', 'd', 'e'])
ser

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [32]:
ser.fillna(100)

a      1.0
b      2.0
c      3.0
d      4.0
e    100.0
dtype: float64